@charset "UTF-8";

html {
  font-size: 62.5%;
}

header {
  text-align: center;
  height: 50px;
  background-color: aquamarine;
}

.first-view {
  text-align: center;
  height: 500px;
  background-color: beige;
}

.benefits {
  text-align: center;
  height: 500px;
  background-color: azure;
}

.faq-question {
  text-align: center;
  height: 500px;
  background-color: bisque;
}

footer {
  text-align: center;
  height: 50px;
  background-color: blanchedalmond;
}

.bf {
  color: #122939;
  padding: 10px;
  text-align: center;
  /* font-family: "游ゴシック体","YuGothic";  */
  font-weight: bold;
  background-color: #EEF0F1;
}

.bf-line {
  color: #122939;
  background: linear-gradient(transparent 70%, #F4E22A 70%);
  font-weight: bold;
}

.bf-a {
  color: 122939;
  text-decoration: none;
  /* 395764 */
}