@charset "UTF-8";

html {
  font-size: 62.5%;
}

header {
  display: flex;
  background-color: white;
  border-bottom: 1px solid black;
  align-items: center;
}

.header-group {
  margin-right: auto;
}

.header-item {
  list-style: none;
  display: inline-block;
  padding-right: 50px;
  transition: .2s;
}

.header-item:hover {
  transform: translateY(5px);
  opacity: 0.6;
}

.header-item a {
  font-size: 20px;
  text-decoration: none;
  color: black;
}

#header-join {
  font-size: 20px;
  margin-left: auto;
  margin-right: 50px;
  padding: 10px 40px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  background-color: darkorange;
  border-radius: 8px;
  transition: .2s;
}

#header-join:hover {
  transform: scale(1.1);
}

.first-view {
  text-align: center;
  height: 0px;
  background-color: beige;
}

.price-area {
  text-align: center;
  margin: 0 25%;
}

.price-area h2 {
  font-size: large;
}

.price-area p{
  margin: 0;
  padding: 0;
}

.price-view {
  border-radius: 10px;
  background-color: antiquewhite;
  padding-bottom: 10px;
}

.price-display {
  font-size: 40px;
}

.price-num-display {
  color: orange;
  font-size: 150%;
  text-decoration-line: underline;
}

.price-num-display:hover {
  transform: scale(1.3, 1.3);
}

.benefits {
  text-align: center;
  height: 500px;
  background-color: azure;
}

.faq-question {
  text-align: center;
  height: 1500px;
  background-color:#fffee2;
}

.faq-QandA{
  color: #333333;
  font-size: 1rem;
  text-align: center;
  background-color: #ffffff;
  margin: 2rem auto;
  padding: 2rem;
  border-radius: 2rem;
  border: solid 3px #333333;
  width: 50rem;
}

.float-banner{
  position: fixed;
  bottom: 3%;
  width: 100%;
  display: inline-block;
  text-align: center;
}

.banner-nyukai{
  max-width: 386px;
  border-radius: 30px;
  background: #32AA8B;
  width: 70%;
  list-style:none;
  display: inline;
  text-align: center;
  box-shadow: 1px 1px 1px rgba(200,200,200,0.8);
  box-sizing: border-box;
  margin: 20px;
  padding: 1.2%;
}

.banner-tempo{
  max-width: 232px;
  border-radius: 30px;
  background: #F2F1EF;
  width: 30%;
  list-style:none;
  display: inline;
  text-align: center;
  box-shadow: 1px 1px 1px rgba(200,200,200,0.8);
  box-sizing: border-box;
  margin: 20px;
  padding: 1.2%;
}